
{% set foo = rows[0]['#rows'][0]['#row'] %}
{% set bar = rows[0]['#rows'][0]['#view'] %}

<div class="pure-g">
    <div class="pure-u-14-24">
<div class="round bgblue spacedxl">
<p class="xl white">
      {{ foo.gbb_gdisp_id_disp}} {{ foo.gbb_gdisp_lib }}
</p>
<p class="xxl white">
      {{ foo.co_modu}} {{ foo.gbb_gmodu_lib }}
</p>
</div>
</div>
    <div class="pure-u-10-24">
<div class="round bggreen spacedxl">
<p class="xl white">
     Resp. Orga :  {{ foo.gbb_gresp_orga_prenom}} {{ foo.gbb_gresp_orga_nomu}}
</p>
<p class="xl white">
     Resp. Péda :  {{ foo.gbb_gresp_peda_prenom}} {{ foo.gbb_gresp_peda_nomu}}
</p>
</div>
</div>
</div>

<details class="form-wrapper" id="details">
<summary>Détails</summary>
<div class="details-wrapper">
<div class="details-description">
<ul>
<li> lobjt : {{ foo.gbb_gdisp_lobjt }} </li>
<li> lcibl : {{ foo.gbb_gmodu_lcibl }} </li>
<li> lcont : {{ foo.gbb_gmodu_lcont }} </li>
<li> lform : {{ foo.gbb_gmodu_lform }} </li>
<li> lmoda : {{ foo.gbb_gmodu_lmoda }} </li>
<li> lpeda : {{ foo.gbb_gmodu_lpeda }} </li>
<li> nbefgr: {{ foo.gbb_gmodu_nb_eff_groupe }} </li>
<li> nbhint: {{ foo.gbb_gmodu_nb_h_interv }} </li>
<li> nbplpr: {{ foo.gbb_gmodu_nb_place_prev }} </li>
<li> Type candidature </li>
</ul>
</div>
</div>
</details>



