<p>{{ _context[''].intro }}</p>

{% if "administrator" in user.roles %}
{{ kint() }}
{% endif %}

{{ drupal_view('infos_module', 'block_1') }}



{{ _context[''].date }}
{{ _context[''].horaires }}
{{ _context[''].lieu }}
{{ _context[''].formateur }}
{{ _context[''].duree_a_payer }}
{{ _context[''].duree_prevue }}
{{ _context[''].type_paiement }}
{{ _context[''].groupe }}

