{% if "REMOVEME_administrator" in user.roles %}
{{ kint() }}
{% endif %}

{{ drupal_view('infos_module', 'block_1') }}



{{ drupal_view('sessions_d_un_module', 'block_1') }}

<details class="form-wrapper" id="sessions-administratifs">
<summary>Sessions Administratifs</summary>
<div class="details-wrapper">
<div class="details-description">
<div class="wrapper">
<div class="left">
{{ drupal_view('sessions_d_un_module', 'block_3') }}
</div>
<div class="right">
{{ drupal_view('sessions_d_un_module', 'block_2') }}
</div>
</div>
</div>
</div>
</details>

<div class="wrapper">
<div class="left">
{{ _context[''].journal }}
</div>
<div class="right">
{{ _context[''].afile }}
</div>
</div>
