{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<p><a href="formateurs">Retour à la liste des formateurs</a></p>

{% set principal = ['id_disp','actions'] %}

<div class="pure-g">
  <div class="pure-u-1-8"> {{form.id_disp}} </div>
  <div class="pure-u-1-12"> {{form.actions}} </div>
</div>

{{ form | without('id_disp', 'actions') }}

{# {{ form }} #}
{# {% for k,v in form.co_resp %} #}
 {# **{{k}}--{{v}} #}
{# {% endfor %} #}
