<h2 class="block-title">Catalogue des animations pédagogiques</h2>
<p><a href="../ap" class="titre">[Retour à la liste des circonscriptions]</a></p>
<p> </p>
<p>
Vous trouverez ci dessous le catalogue des animations pédagogiques du plan de formation de la circonscription.<br/>
Cliquez sur chaque dispositif pour visualiser la liste des modules ouverts à la candidature individuelle sur GAIA. Les parcours T1 ainsi que les constellations français et mathématiques ne nécessitent pas d'inscription individuelle, ils n'apparaissent pas dans le catalogue.<br/>
Pour faciliter votre inscription sur GAIA nous vous conseillons de noter pour chaque formation sélectionnée le code dispositif (20D075XXXX) ainsi que le code module à 5 chiffres.
</p>

<h3>{{ circo_name }}</h3>

<p>&nbsp;<br/></p>

<h4 class='titreap'>Stages proposés par la circonscription</h4>
{% for disp,data in tab %}
{% if data['module'] and data['display'] %}
  <p>{{ disp }} <span class="togg titre" onclick="myToggle('{{ disp }}')">{{ data['lib'] }}</span></p>
  <ul>
    {% for co_modu,m in data['module'] %}
    <li class="{{ disp }}" style="display: none;"> {{co_modu }} {{ m['lib'] }} <br/>
      <span class="module"><b>Contenu</b> : {{ m['lcont'] }}</span><br/>
      <span class="module"><b>Durée</b> : {{ m['duree_prev'] }}&#8239;h</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}

<p>&nbsp;<br/></p>
{% if circo == "0750086L" or circo == "0754335E" or circo == "0753073H" or circo == "0754396W" %}
<h4 class='titreap'>Stages académiques, partenaires et pôle 19 retenus par la circonscription</h4>
{% elseif circo == "0750094V" or circo == "0754462T" %}
<h4 class='titreap'>Stages académiques, partenaires et mutualisés retenus par la circonscription</h4>
{% else %}
<h4 class='titreap'>Stages académiques et partenaires retenus par la circonscription</h4>
{% endif %}

{% for disp,data in inter %}
{% if data['module'] and data['display'] %}
  <p>{{ disp }} <span class="togg titre" onclick="myToggle('{{ disp }}')">{{ data['lib'] }}</span></p>
  <ul>
    {% for co_modu,m in data['module'] %}
    <li class="{{ disp }}" style="display: none;"> {{co_modu }} {{ m['lib'] }} <br/>
      <span class="module"><b>Contenu</b> : {{ m['lcont'] }}</span><br/>
      <span class="module"><b>Durée</b> : {{ m['duree_prev'] }}&#8239;h</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
