{% if "REMOVEME_administrator" in user.roles %}
{{ kint() }}
{% endif %}

{{ drupal_view('infos_module', 'block_1') }}


{% if 'd_cons' in user.roles %}
<details open class="details-wrapper" id="journal">
  <summary class="journal-dark">Zone Conseillers - Non visible par les gestionnaires</summary>
  <div class="common-wrapper journal">
    <div class="pure-g">
      <div class="pure-u-17-24">
        {{ html.journal }}
      </div>
      <div class="pure-u-1-24">
        &nbsp;
      </div>
      <div class="pure-u-6-24">
        {{ html.cfile }}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</details>
{% endif %}

{% if 'd_admi' in user.roles %}
<details open class="details-wrapper" id="sessions">
  <summary class="sessions-dark">Zone Gestionnaires - Non visible par les Conseillers</summary>
  <div class="common-wrapper sessions">
    <div class="pure-g">
      <div class="pure-u-13-24">
        <p><b> Sessions formateurs </b></p>
        {{ drupal_view('sessions_d_un_module', 'block_3') }}
      </div>
      <div class="pure-u-1-24"> &nbsp; </div>
      <div class="pure-u-10-24">
        <p><b> Sessions stagiaires </b></p>
        {{ drupal_view('sessions_d_un_module', 'block_2') }}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</details>
{% endif %}

{% if 'd_admi' in user.roles or 'd_cons' in user.roles %}
<details open class="details-wrapper" id="sessions">
  <summary class="journal-dark">Zone d'échanges entre Conseillers et Gestionnaires</summary>
  <div class="common-wrapper sessions">
    {% if 'd_cons' in user.roles %}
    {{ drupal_view('sessions_d_un_module', 'block_1') }}
    {% endif %}
    <div class="pure-g">
      <div class="pure-u-15-24">
        {{ html.infospasconvoc }}
      </div>
      <div class="pure-u-1-24"> &nbsp; </div>
      <div class="pure-u-8-24">
        {{ html.afile }}
        &nbsp;<br/>
        {{ html.infossurconvoc }}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</details>
{% endif %}


