{{ drupal_view('infos_module', 'block_1') }}

{% if 'd_admi' in user.roles or 'd_cons' in user.roles %}
<details open class="details-wrapper" id="journal">
  <summary class="journal-dark">Zone Conseillers - Non visible par les gestionnaires</summary>
  <div class="common-wrapper journal">
    <div class="pure-g">
      <div class="pure-u-17-24">
        {{ html.journal }}
        <br>
        {{ html.prioritaire }}
      </div>
      <div class="pure-u-1-24">
        &nbsp;
      </div>
      <div class="pure-u-6-24">
        {{ html.cfile }}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</details>
{% endif %}

{% if 'd_admi' in user.roles or 'd_de' in user.roles %}
{% if 'd_admi' in user.roles %}
<details class="details-wrapper" id="sessions">
{% endif %}
{% if 'd_de' in user.roles %}
<details open class="details-wrapper" id="sessions">
{% endif %}
  <summary class="sessions-dark">Zone Gestionnaires - Non visible par les Conseillers. - Dernière modification : {{ html.last_mod}} par {{ html.last_user }}</summary>
  <div class="common-wrapper sessions">
    <div class="pure-g">
      <!--<div class="pure-u-13-24">-->
      <div class="pure-u-24-24">
        <p><b> Sessions stagiaires </b></p>
        {{ drupal_view('sessions_d_un_module', 'block_2') }}
      </div>
      <!--<div class="pure-u-1-24"> &nbsp; </div>
      <div class="pure-u-10-24">-->
     {% if 'd_admi' in user.roles %}
      <div class="pure-u-24-24">
        <p><b> Sessions formateurs </b></p>
        {{ drupal_view('sessions_d_un_module', 'block_3') }}
      </div>
     {% endif %}
    </div>
    <div class="clear"></div>
  </div>
</details>
{% endif %}

{% if 'd_admi' in user.roles or 'd_inspec' in user.roles %}
{% if 'd_admi' in user.roles %}
<details class="details-wrapper" id="sessions">
{% endif %}
{% if 'd_de' in user.roles %}
<details open class="details-wrapper" id="sessions">
{% endif %}
  <summary class="inspec-dark">Zone d'échanges entre Inspecteurs et Conseillers. - Dernière modification : {{ html.last_mod}} par {{ html.last_user }}</summary>
  <div class="common-wrapper inspec">
    {{ drupal_view('sessions_d_un_module', 'block_4') }}
    <div class="pure-g">
      <div class="pure-u-15-24">
        {# {{ html.infospasconvoc }} #}
      </div>
      <div class="pure-u-1-24"> &nbsp; </div>
      <div class="pure-u-8-24">
        {# {{ html.afile }} #}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</details>
{% endif %}



{% if 'd_admi' in user.roles or 'd_cons' in user.roles %}
<details open class="details-wrapper" id="sessions">
  <summary class="journal-dark">Zone d'échanges entre Conseillers et Gestionnaires. - Dernière modification : {{ html.last_mod}} par {{ html.last_user }}</summary>
  <div class="common-wrapper sessions">
    {{ drupal_view('sessions_d_un_module', 'block_1') }}
    <div class="pure-g">
      <div class="pure-u-15-24">
        {{ html.infospasconvoc }}
      </div>
      <div class="pure-u-1-24"> &nbsp; </div>
      <div class="pure-u-8-24">
        {{ html.afile }}
        &nbsp;<br/>
        {{ html.infossurconvoc }}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</details>

<details open class="dossier-wrapper" id="dossier">
  <summary class="journal-dark">Dossier</summary>
  <div class="common-wrapper dossier">
    <div class="pure-g">
      <div class="pure-u-15-24">
        {{ html.LEinfo }}
      </div>
      <div class="pure-u-1-24"> &nbsp; </div>
      <div class="pure-u-8-24">
        {{ html.LEetat }}
      </div>
    </div>
    <div class="clear"></div>
    <div class="pure-g">
      <div class="pure-u-15-24">
        {{ html.DSFinfo }}
      </div>
      <div class="pure-u-1-24"> &nbsp; </div>
      <div class="pure-u-8-24">
        {{ html.DSFetat }}
      </div>
    </div>
    <div class="clear"></div>
    <div class="pure-g">
      <div class="pure-u-15-24">
        {{ html.DAdateDepot }}
      </div>
      <div class="pure-u-9-24"> &nbsp; </div>
    </div>
    <div class="clear"></div>
  </div>
</details>
{% endif %}


