{#
/**
 * @file
 * Default theme implementation to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 *
 * @ingroup themeable
 */
#}
{% set displaystyle = "none" %}
{% if plan == 'P' %}
  {% set displaystyle = "block" %}
{% endif %}
{% if plan == 'E' %}
  {% set displaystyle = "block" %}
{% endif %}

{% set alea=random(100000000, 999999999) %}

{% if grouping_level==1 %}
<h3 style="color:white; background-color:{{ couleur }}; padding:10px; border-radius:5px; cursor: pointer;" onclick="yourFunction('{{alea}}')">{{ title }}</h3>
<div style="display:{{ displaystyle }}" class='{{alea}}'>
{{ content }}
</div>
{% else %}
  {{ title }}
  {{ content }}
{% endif %}
