<section class="container">
  <div class="one">
    <div class="pure-g">
      {{ form.form }}
    </div>
  </div>
  <div id="chart_div" class="two"></div>
</section>

{% set var = form.heures %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawStacked);

function drawStacked() {
      var data = google.visualization.arrayToDataTable([
        ['Type'       , 'Heures dues'           , 'En h. déch.'        , 'En h. vac.'         , 'En h. PFA'] ,
        ['Dech DAFOR' , {{ var['dech_dafor'] }} , 0                    , 0                    , 0]           ,
        ['Faites'     , 0                       , {{ var['sum_dec'] }} , {{ var['sum_vac'] }} , 0]           ,
        [''           , 0                       , 0                    , 0                    , 0]           ,
        ['Dech PFA'   , {{ var['dech_pfa'] }}   , 0                    , 0                    , 0]           ,
        ['Faites'     , 0                       , 0                    , 0                    , {{ var['sum_pfa'] }}]           ,
      ]);

      var options = {
        chartArea: {width: '50%'},
        isStacked: true,
      };
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
}
</script>
